<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./cekOrder.css">
    <title><%= title %></title>
</head>
<body>
    <nav>
        <!-- Navbar -->
        <div class="layar-dalam">
            <div class="logo">
                <a href=""> <img src="../assets/sijeni-black1.png" class="black" />
                </a>
            </div>
            <!--  menu ntar di ganti jadi navbar-->
            <div class="menu">
                <a href="#" class="tombol-menu">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
                <ul>
                    <li><a href="#" class="back-form">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main-body">
<div class="body">
      <div class="cek-order">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Nama Pengirim</th>
                        <th>Nomer Telepon</th>
                        <th>Alamat Tujuan Pengiriman</th>
                        <th>Jenis layanan</th>
                        <th>Nama Kurir</th>
                        <th>Nomer Telepon</th>
                    </tr>
                    
                </thead>
                <tbody id="orderTable">
                </tbody>
            </table>
           <a href="./form" class="back-form">Back</a></li>
        </div>
    </div>

    </div>
        </div>
    
        

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="cekOrder.js"></script>
        </script>
</body>
</html>
